body{
    background-color: #1c1e23;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

.abtIcon{
    background-image: linear-gradient(-45deg, #6a00bb, #bd67ff);
    background-size: 300%;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
    animation: gradient 2s ease infinite;
    padding: 50px;
    border-radius: 1000px;
}

.btn-purple{
    background-color: #a42dff;
    color: white;
}

.btn-purple:hover{
    background-color: #9000ff;
    color: white;
}

footer{
    background-color: #202125;
    text-align: center;
}

a.listlink{
    border-bottom: 2px solid transparent;
    text-decoration: none;
    padding: 5px;
    color: rgb(165, 165, 165);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

a.listlink:hover{
    border-bottom: 2px solid #a42dff;
    text-decoration: none;
    padding: 5px;
    color: rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

hr {
    height: 1px;
    background-image: linear-gradient(-45deg, #9000ff, #ac40ff);
    background-size: 300%;
    animation: gradient 10s ease infinite;
    max-width: 375px;
    border-radius: 150px;
}

.assistance{
    background-color: #1d1e22;
}

.dropdown-menu, a.dropdown-item:focus, a.dropdown-item{
    background-color: #333;
    color: white;
}

div.dropdown-divider{
    border-color: #111;
}

a.dropdown-item:hover{
    background-color: #222;
    color: white;
}

kbd{
    border-radius: 10px;
}

.searchArea{
    min-width: 300px;
    max-width: 400px;
}

.btn-search{
    z-index: -1;
    border: 2px solid #a42dff;
    border-left: none;
    border-radius: 25px;
    color: white;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    background-color: 383838;
}

.btn-search:hover{
    border: 2px solid #a42dff;
    border-left: none;
    border-radius: 25px;
    color: white;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

.searchBox{
    z-index: -1;
    color: white;
    background-color: transparent;
    border: #a42dff 2px solid;
    border-right: none;
    box-shadow: #a42dff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.searchBox:focus{
    color: white;
    background-color: transparent;
    border: #383838 2px solid;
    border-right: none;
    box-shadow: #a42dff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.searchBox::placeholder{
    color: rgba(201, 201, 201, 0.726);
}


input[type="text"]:focus {  
  border-color: #a42dff;
  border-right: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, -3px 0 8px #a42dff;
  outline: 0 none;
}


input[type="text"]:focus ~ div #Search{ 
    border-color: #a42dff;
    border-left: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 3px 0 8px #a42dff;
    outline: 0 none;
}



.kbd-tag{
    background-color: #a42dff;
    border-radius: 10px;
    font-weight: 900;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
}

.kbd-tag:hover{
    box-shadow: rgba(0, 0, 0, 0.514) 5px 5px 5px;
}

::-moz-selection { 
    background-color: #a42dff; 
    color: rgb(255, 255, 255); 
} 
    
::selection { 
    background-color: #a42dff; 
    color: rgb(255, 255, 255); 
}


.description{
    background-color: transparent;
    border-radius: 5px;
    color: white;
    min-width: 100%;
    overflow: hidden;
    border: none;
    outline: none;
    resize: none;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
}


.author{
    color: rgba(255, 255, 255, 0.603);
    margin: 0px;
}



/* DESKTOP MEDIA QUERY */
@media screen and (min-width:720px) {
    .serverCard{
        background-color: #17181d;
        border-radius: 10px;
        min-width: 400px;
        max-width: 400px;
        border: 2px solid transparent;
        transition-timing-function: ease-in-out;
        transition: 0.3s;
    }
    
    .serverCard:hover{
        background-color: #17181d;
        border-radius: 10px;
        min-width: 400px;
        max-width: 400px;
        border: 2px solid transparent;
        box-shadow: rgba(0, 0, 0, 0.514) 10px 10px 10px;
        translate: -5px -5px;
        transition-timing-function: ease-in-out;
        transition: 0.3s;
    }

}

/* MOBILE MEDIA QUERY */
@media screen and (max-width:719px) {
    .serverCard{
        background-color: #17181d;
        border-radius: 10px;
        min-width: 95%;
        border: 2px solid transparent;
        transition-timing-function: ease-in-out;
        transition: 0.3s;
    }
    
    .serverCard:hover{
        background-color: #17181d;
        border-radius: 10px;
        min-width: 95%;
        border: 2px solid transparent;
        box-shadow: rgba(0, 0, 0, 0.514) 10px 10px 10px;
        translate: -5px -5px;
        transition-timing-function: ease-in-out;
        transition: 0.3s;
    }
}


.btn-custom{
    border: 2px solid #a42dff;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: white;
    min-width: 100%;
}

.btn-custom:hover{
    border: 2px solid #9000ff;
    border-radius: 10px;
    color: white;
    min-width: 100%;
}


.btn-play{
    color: transparent;
    background-color: transparent;
    padding: 5px;
    margin: 0px;
    border-radius: 100%;
}

.btn-play:hover{
    color: white;
    background-image: linear-gradient(-45deg, #00eeff, #b637ff);;
    padding: 5px;
    margin: 0px;
    border-radius: 100%;
    background-size: 300%;
    box-shadow: rgba(0, 0, 0, 0.514) 10px 10px 10px;
    animation: gradient 5s ease infinite;
    transition-timing-function: ease-in-out;
        transition: 0.3s;
}

.sample-pack{
    color: white;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    min-height: 250px;
    min-width: 250px;
    margin-bottom: 10px;
    background-image: url("../IMG/sample-pack.jpg");
    background-size: 100% 100%;
}


#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}